#image {
    width: 100%;
    height: 100%
}
div:hover {
    width: 100%;
    height: 100%;
    background-color: #00ffff;
    animation-name: animatedrectangle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform: skewx(45deg);
}

@keyframes animatedrectangle{
    0% {background-color:#0000ff;}
    25% {background-color: #fd000e;}
    50% {background-color: #09ba15;}
    75% {background-color:#ede200;}
}